*,
::before,
::after {
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
  border-color: #e5e7eb;
}

::before,
::after {
  --tw-content: '';
}

html {
  line-height: 1.5;
  -webkit-text-size-adjust: 100%;
  -moz-tab-size: 4;
  -o-tab-size: 4;
     tab-size: 4;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-feature-settings: normal;
  font-variation-settings: normal;
}

body {
  margin: 0;
  line-height: inherit;
}


hr {
  height: 0; 
  color: inherit; 
  border-top-width: 1px; 
}


abbr:where([title]) {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

a {
  color: inherit;
  text-decoration: inherit;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  font-size: 1em;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

table {
  text-indent: 0;
  border-color: inherit;
  border-collapse: collapse;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  font-weight: inherit;
  line-height: inherit;
  color: inherit;
  margin: 0;
  padding: 0;
}

button,
select {
  text-transform: none;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  appearance: button;
  background-color: transparent;
  background-image: none;
}


:-moz-focusring {
  outline: auto;
}

:-moz-ui-invalid {
  box-shadow: none;
}

progress {
  vertical-align: baseline;
}

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

[type='search'] {
  -webkit-appearance: textfield;
  appearance: textfield;
  outline-offset: -2px;
}

::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

summary {
  display: list-item;
}

blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
  margin: 0;
}

fieldset {
  margin: 0;
  padding: 0;
}

legend {
  padding: 0;
}

ol,
ul,
menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

input::-moz-placeholder, textarea::-moz-placeholder {
  opacity: 1;
  color: #9ca3af;
}

input::placeholder,
textarea::placeholder {
  opacity: 1;
  color: #9ca3af;
}

button,
[role="button"] {
  cursor: pointer;
}

:disabled {
  cursor: default;
}

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block;
}

img,
video {
  max-width: 100%;
  height: auto;
}

[hidden] {
  display: none;
}

html {
  font-family: 'Quire Sans', sans-serif;
}

body {
  min-width: 440px;
  min-height: 100vh;
}

*, ::before, ::after {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position:  ;
  --tw-gradient-via-position:  ;
  --tw-gradient-to-position:  ;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
}

::backdrop {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position:  ;
  --tw-gradient-via-position:  ;
  --tw-gradient-to-position:  ;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
}

.pointer-events-auto {
  pointer-events: auto;
}

.absolute {
  position: absolute;
}

.relative {
  position: relative;
}

.sticky {
  position: sticky;
}

.bottom-0 {
  bottom: 0px;
}

.left-0 {
  left: 0px;
}

.right-0 {
  right: 0px;
}

.top-0 {
  top: 0px;
}

.top-full {
  top: 100%;
}

.z-50 {
  z-index: 50;
}

.col-span-2 {
  grid-column: span 2 / span 2;
}

.m-2 {
  margin: 0.5rem;
}

.mb-1 {
  margin-bottom: 0.25rem;
}

.mb-5 {
  margin-bottom: 1.25rem;
}

.ml-1 {
  margin-left: 0.25rem;
}

.ml-5 {
  margin-left: 1.25rem;
}

.mr-1 {
  margin-right: 0.25rem;
}

.mr-28 {
  margin-right: 7rem;
}

.mr-5 {
  margin-right: 1.25rem;
}

.mt-5 {
  margin-top: 1.25rem;
}

.block {
  display: block;
}

.flex {
  display: flex;
}

.grid {
  display: grid;
}

.hidden {
  display: none;
}

.h-1 {
  height: 0.25rem;
}

.h-32 {
  height: 8rem;
}

.h-5 {
  height: 1.25rem;
}

.h-7 {
  height: 1.75rem;
}

.h-auto {
  height: auto;
}

.h-full {
  height: 100%;
}

.w-4 {
  width: 1rem;
}

.w-7 {
  width: 1.75rem;
}

.w-8 {
  width: 2rem;
}

.w-auto {
  width: auto;
}

.w-full {
  width: 100%;
}

.flex-shrink-0 {
  flex-shrink: 0;
}

.cursor-pointer {
  cursor: pointer;
}

.grid-rows-2 {
  grid-template-rows: repeat(2, minmax(0, 1fr));
}

.flex-row {
  flex-direction: row;
}

.flex-col {
  flex-direction: column;
}

.flex-wrap {
  flex-wrap: wrap;
}

.items-end {
  align-items: flex-end;
}

.items-center {
  align-items: center;
}

.justify-end {
  justify-content: flex-end;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.divide-x > :not([hidden]) ~ :not([hidden]) {
  --tw-divide-x-reverse: 0;
  border-right-width: calc(1px * var(--tw-divide-x-reverse));
  border-left-width: calc(1px * calc(1 - var(--tw-divide-x-reverse)));
}

.divide-daher-red > :not([hidden]) ~ :not([hidden]) {
  --tw-divide-opacity: 1;
  border-color: rgb(245 0 12 / var(--tw-divide-opacity));
}

.self-end {
  align-self: flex-end;
}

.whitespace-nowrap {
  white-space: nowrap;
}

.bg-daher-blue {
  --tw-bg-opacity: 1;
  background-color: rgb(0 42 96 / var(--tw-bg-opacity));
}

.bg-daher-blue-400 {
  --tw-bg-opacity: 1;
  background-color: rgb(0 60 137 / var(--tw-bg-opacity));
}

.bg-daher-blue-500 {
  --tw-bg-opacity: 1;
  background-color: rgb(0 42 96 / var(--tw-bg-opacity));
}

.bg-daher-darkgray {
  --tw-bg-opacity: 1;
  background-color: rgb(58 58 58 / var(--tw-bg-opacity));
}

.bg-daher-gray {
  --tw-bg-opacity: 1;
  background-color: rgb(86 86 86 / var(--tw-bg-opacity));
}

.bg-daher-lightgray {
  --tw-bg-opacity: 1;
  background-color: rgb(189 191 191 / var(--tw-bg-opacity));
}

.bg-daher-red {
  --tw-bg-opacity: 1;
  background-color: rgb(245 0 12 / var(--tw-bg-opacity));
}

.bg-daher-red-400 {
  --tw-bg-opacity: 1;
  background-color: rgb(255 31 42 / var(--tw-bg-opacity));
}

.bg-daher-steel-blue-300 {
  --tw-bg-opacity: 1;
  background-color: rgb(128 172 205 / var(--tw-bg-opacity));
}

.bg-daher-steel-blue-600 {
  --tw-bg-opacity: 1;
  background-color: rgb(55 103 141 / var(--tw-bg-opacity));
}

.bg-daher-steel-blue-800 {
  --tw-bg-opacity: 1;
  background-color: rgb(24 44 60 / var(--tw-bg-opacity));
}

.bg-white {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
}

.bg-opacity-70 {
  --tw-bg-opacity: 0.7;
}

.bg-opacity-90 {
  --tw-bg-opacity: 0.9;
}

.bg-construction {
  background-image: url(../static/bg8.jpeg);
}

.bg-crane {
  background-image: url('../static/bg2.png');
}

.bg-crane2 {
  background-image: url(../static/bg5.jpeg);
}

.bg-sign {
  background-image: url(../static/bg9.jpeg);
}

.bg-trailer {
  background-image: url('../static/bg1.jpeg');
}

.bg-trailer1 {
  background-image: url(../static/bg3.jpeg);
}

.bg-train {
  background-image: url(../static/bg7.jpeg);
}

.bg-traintank {
  background-image: url(../static/bg4.jpeg);
}

.bg-transformerstation {
  background-image: url(../static/bg6.png);
}

.bg-cover {
  background-size: cover;
}

.object-cover {
  -o-object-fit: cover;
     object-fit: cover;
}

.p-12 {
  padding: 3rem;
}

.p-6 {
  padding: 1.5rem;
}

.pb-1 {
  padding-bottom: 0.25rem;
}

.pb-2 {
  padding-bottom: 0.5rem;
}

.pb-5 {
  padding-bottom: 1.25rem;
}

.pl-1 {
  padding-left: 0.25rem;
}

.pl-2 {
  padding-left: 0.5rem;
}

.pl-6 {
  padding-left: 1.5rem;
}

.pr-1 {
  padding-right: 0.25rem;
}

.pr-2 {
  padding-right: 0.5rem;
}

.pr-6 {
  padding-right: 1.5rem;
}

.pt-1 {
  padding-top: 0.25rem;
}

.pt-2 {
  padding-top: 0.5rem;
}

.pt-4 {
  padding-top: 1rem;
}

.text-\[14px\] {
  font-size: 14px;
}

.text-\[8px\] {
  font-size: 8px;
}

.text-sm {
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.text-xl {
  font-size: 1.25rem;
  line-height: 1.75rem;
}

.font-light {
  font-weight: 300;
}

.font-semibold {
  font-weight: 600;
}

.leading-4 {
  line-height: 1rem;
}

.text-daher-blue {
  --tw-text-opacity: 1;
  color: rgb(0 42 96 / var(--tw-text-opacity));
}

.text-white {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}

.bg-blend-multiply {
  background-blend-mode: multiply;
}

.bg-blend-hard-light {
  background-blend-mode: hard-light;
}

.bg-blend-soft-light {
  background-blend-mode: soft-light;
}

.mix-blend-multiply {
  mix-blend-mode: multiply;
}

.mix-blend-overlay {
  mix-blend-mode: overlay;
}

.smalllMenu {
  display: block;
}

@media (min-width: 830px) {
  .smalllMenu {
    display: none;
  }
}

@media (min-width: 1024px) {
  .smalllMenu {
    display: block;
  }
}

@media (min-width: 1380px) {
  .smalllMenu {
    display: none;
  }
}

.largeMenu {
  display: none;
}

@media (min-width: 830px) {
  .largeMenu {
    display: block;
  }
}

@media (min-width: 1024px) {
  .largeMenu {
    display: none;
  }
}

@media (min-width: 1380px) {
  .largeMenu {
    display: block;
  }
}

.parentGrid > * {
  min-height: 300px;
}

@media (min-width: 584px) {
  .parentGrid > * {
    min-height: 260px;
  }
}

@media (min-width: 830px) {
  .parentGrid > * {
    min-height: 320px;
  }
}

@media (min-width: 1024px) {
  .parentGrid > * {
    min-height: 300px;
  }
}

@media (min-width: 1380px) {
  .parentGrid > * {
    min-height: 360px;
  }
}

@media (min-width: 1800px) {
  .parentGrid > * {
    min-height: 300px;
  }
}

.background {
  background-size: cover;
  background-attachment: fixed;
}

.verysmallText {
  font-size: 0.75rem;
  line-height: 1rem;
}

@media (min-width: 584px) {
  .verysmallText {
    font-size: 10px;
  }
}

@media (min-width: 830px) {
  .verysmallText {
    font-size: 0.75rem;
    line-height: 1rem;
  }
}

@media (min-width: 1024px) {
  .verysmallText {
    font-size: 10px;
  }
}

@media (min-width: 1380px) {
  .verysmallText {
    font-size: 0.75rem;
    line-height: 1rem;
  }
}

.smallText {
  font-size: 0.875rem;
  line-height: 1.25rem;
}

@media (min-width: 584px) {
  .smallText {
    font-size: 0.75rem;
    line-height: 1rem;
  }
}

@media (min-width: 830px) {
  .smallText {
    font-size: 0.875rem;
    line-height: 1.25rem;
  }
}

@media (min-width: 1024px) {
  .smallText {
    font-size: 0.75rem;
    line-height: 1rem;
  }
}

@media (min-width: 1380px) {
  .smallText {
    font-size: 0.875rem;
    line-height: 1.25rem;
  }
}

.mediumText {
  font-size: 1.5rem;
  line-height: 2rem;
}

@media (min-width: 584px) {
  .mediumText {
    font-size: 1rem;
    line-height: 1.5rem;
  }
}

@media (min-width: 830px) {
  .mediumText {
    font-size: 1.5rem;
    line-height: 2rem;
  }
}

@media (min-width: 1024px) {
  .mediumText {
    font-size: 1rem;
    line-height: 1.5rem;
  }
}

@media (min-width: 1380px) {
  .mediumText {
    font-size: 1.5rem;
    line-height: 2rem;
  }
}

.largeText {
  font-size: 1.875rem;
  line-height: 2.25rem;
}

@media (min-width: 584px) {
  .largeText {
    font-size: 1.125rem;
    line-height: 1.75rem;
  }
}

@media (min-width: 830px) {
  .largeText {
    font-size: 1.875rem;
    line-height: 2.25rem;
  }
}

@media (min-width: 1024px) {
  .largeText {
    font-size: 1.125rem;
    line-height: 1.75rem;
  }
}

@media (min-width: 1380px) {
  .largeText {
    font-size: 1.875rem;
    line-height: 2.25rem;
  }
}

.verylargeText {
  font-size: 2.25rem;
  line-height: 2.5rem;
}

@media (min-width: 584px) {
  .verylargeText {
    font-size: 1.5rem;
    line-height: 2rem;
  }
}

@media (min-width: 830px) {
  .verylargeText {
    font-size: 2.25rem;
    line-height: 2.5rem;
  }
}

@media (min-width: 1024px) {
  .verylargeText {
    font-size: 1.5rem;
    line-height: 2rem;
  }
}

@media (min-width: 1380px) {
  .verylargeText {
    font-size: 2.25rem;
    line-height: 2.5rem;
  }
}

@media (min-width: 584px) {
  .sm\:col-span-2 {
    grid-column: span 2 / span 2;
  }

  .sm\:block {
    display: block;
  }

  .sm\:grid-cols-2 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  .sm\:grid-rows-1 {
    grid-template-rows: repeat(1, minmax(0, 1fr));
  }

  .sm\:text-\[12px\] {
    font-size: 12px;
  }
}

@media (min-width: 830px) {
  .md\:hidden {
    display: none;
  }
}

@media (min-width: 1024px) {
  .lg\:col-span-2 {
    grid-column: span 2 / span 2;
  }

  .lg\:col-span-4 {
    grid-column: span 4 / span 4;
  }

  .lg\:ml-\[20\%\] {
    margin-left: 20%;
  }

  .lg\:mr-\[20\%\] {
    margin-right: 20%;
  }

  .lg\:block {
    display: block;
  }

  .lg\:grid-cols-\[20\%_30\%_30\%_20\%\] {
    grid-template-columns: 20% 30% 30% 20%;
  }

  .lg\:grid-cols-\[60\%_40\%\] {
    grid-template-columns: 60% 40%;
  }
}

